.page_container{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding: 2rem 5rem;
    height: 100vh;
    overflow: auto;
}
@media (max-width: 680px) {
    .page_container{
        padding: 1rem 1rem;
    }
}